.Color-red {
    color: red;
}

#Color-green {
    color: green;
}

.Background-color {
    width: 200px;
    height: 100px;
    background: green;
}

.Background-image {
    width: 100%;
    height: 200px;
    background-image:url("../images/khoa-hoc-front-end.jpg");
    background-size: 100%;
    background-attachment: fixed;
}

.Box-model-1 {
    background: green;
    color: white;
    text-align: center;
    padding: 30px;
    border: 5px solid black
}

.Box-model-2 {
    background: red;
    color: white;
    text-align: right;
    margin-top: 20px;
    padding: 30px;
    border: 10px dashed blue;
    background-clip: padding-box;
    
}

.Font-arial {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
}

